body {
    color: #30425A
  }
  
  a {
    color: #30425A
  }
  
  .bg-gray {
    background-color: #FBFBFB;
  }
  
  .align-header {
   display: flex;
   justify-content: space-between; 
   align-items: center;
  }
  
  .button-primary {
    background-color: #09DAC2;
  }
  
  .button-secondary {
    color: #30425A;
    background-color: transparent;
  }
  .square{
     background-color: white;
     width: 350px;
     height: 350px;
     border-style: solid;
     border-color: #30425A;
     border-radius: 20px;
     border-width: 2px;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4)
  }
 